<!DOCTYPE html>
<html>
<title>Suggest Colleges</title>
<body>

<form action = "/suggest-colleges" method="POST">
	<p> GPA:<input name="gpa" type ="number" value="4" step="0.01"/> </p>
	<p> SAT Math Scores:<input name="math" type ="number" value="800" /> </p>
	<p> SAT Reading Scores:<input name="reading" type ="number" value="800" /> </p>
	<p> SAT Writing Scores:<input name="writing" type ="number" value="800" /> </p>
	<p> ACT:<input name="act" type ="number" value="30" /> </p>
	<p> Class Rank:<input name="rank" type ="number" value="3" /> </p>
	<p> Recommendation Rating:<input name="reco" type ="number" value="3" /> </p>
	<p> Quality of Essay:<input name="essay" type ="number" value="3" /> </p>
	<p> Extracurriculars:<input name="extra" type ="number" value="3" /> </p>
	<p> WorkExp:<input name="workex" type ="number" value="3" /> </p>
	
	<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>

